# Digits Kaggle (MNIST)

In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [2]:
train = pd.read_csv('csv/train.csv')
test = pd.read_csv('csv/test.csv')
X_train = train[train.columns.drop('label')]
Y_train = train['label']
X_train.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## One hot encoding (Labels)

In [3]:
encoder = preprocessing.OneHotEncoder(sparse = False)
encoder.fit(Y_train.values.reshape(-1, 1))
Y_train = encoder.transform(Y_train.values.reshape(-1, 1))
Y_train = pd.DataFrame(Y_train, columns=range(10))
Y_train.head()

     0    1    2    3    4    5    6    7    8    9
0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
4  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

## Deep Learning (Keras)